.style-switcher{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-block-50);
    background: var(--bg-block-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style-switcher.open{
    transform: translateX(-25px);
}
.s-icon{
 position: absolute;
 width: 40px;
 height: 40px;
 text-align: center;
 font-size: 20px;
 background: var(--bg-block-100);
 color: var(--text-block-900);
 right: 100%;
 margin-right: 25px;
 cursor: pointer;
 border: 1px solid var(--bg-block-50);
border-radius: 50%;
transition: all 0.3s ease;
}
.style-switcher .s-icon i{
    line-height: 40px;
}
.style-switcher .day-night{
   top: 55px;
}
.style-switcher-toggler{
    top: 0;
}
.style-switcher h4{
    margin: 0 0 10px;
    color: var(--text-block-700);
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
.style-switcher .colors{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.style-switcher .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid red;
}
.style-switcher .color-1{
    background-color: #ec1839;
}
.style-switcher .color-2{
    background-color: #fa5b0f;
}
.style-switcher .color-3{
    background-color: #37b182;
}
.style-switcher .color-4{
    background-color: #1854b4;
}
.style-switcher .color-5{
    background-color: #f021b2;
}